@tailwind base;
@tailwind components;
@tailwind utilities;


/* * {
  border: 1px red solid;
} */

.gradient {
  /* background: radial-gradient(
    hsl(150 100% 60%), 
    hsl(200 100% 60%) 
  ) fixed; */
  background: conic-gradient(
    hsl(180 100% 60%), 
    hsl(200 100% 60%),
    hsl(180 100% 60%)
  ) fixed;
  /* background: 
    radial-gradient(
     at center, #3498db, #9b59b6
    ); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

body {
  scroll-behavior: smooth;
}


.gradLink {
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.gradLink:hover {
  background-size: 0 3px, 100% 3px;
}
